@tailwind base;
@tailwind components;

@layer components {
    /* Test if layer is working */
    .test-component {
        background: red;
    }

    /* Heading Styles */
    .tw-heading-xl {
        @apply tw-font-main tw-font-size-900 tw-line-height-1000 tw-font-bold tw-letter-spacing-denser;
    }

    .tw-heading-lg {
        @apply tw-font-main tw-font-size-800 tw-line-height-900 tw-font-medium tw-letter-spacing-dense;
    }

    .tw-heading-md {
        @apply tw-font-main tw-font-size-700 tw-line-height-800 tw-font-medium tw-letter-spacing-dense;
    }

    .tw-heading-sm {
        @apply tw-font-main tw-font-size-600 tw-line-height-700 tw-font-medium tw-letter-spacing-dense;
    }

    .tw-heading-xs {
        @apply tw-font-main tw-font-size-500 tw-line-height-600 tw-font-medium tw-letter-spacing-dense;
    }

    /* Subheading Styles */
    .tw-subheading-sm {
        @apply tw-font-main tw-font-size-400 tw-line-height-400 tw-font-medium tw-letter-spacing-dense;
    }

    .tw-subheading-xs {
        @apply tw-font-main tw-font-size-300 tw-line-height-400 tw-font-medium tw-letter-spacing-normal;
    }

    /* Body Styles */
    .tw-body-lg-regular {
        @apply tw-font-main tw-font-size-400 tw-line-height-600 tw-font-normal;
    }

    .tw-body-lg-medium {
        @apply tw-font-main tw-font-size-400 tw-line-height-600 tw-font-medium;
    }

    .tw-body-md-regular {
        @apply tw-font-main tw-font-size-300 tw-line-height-500 tw-font-normal;
    }

    .tw-body-md-medium {
        @apply tw-font-main tw-font-size-300 tw-line-height-500 tw-font-medium;
    }

    .tw-body-sm-regular {
        @apply tw-font-main tw-font-size-200 tw-line-height-400 tw-font-normal;
    }

    .tw-body-sm-medium {
        @apply tw-font-main tw-font-size-200 tw-line-height-400 tw-font-medium;
    }

    .tw-body-xs-regular {
        @apply tw-font-main tw-font-size-100 tw-line-height-300 tw-font-normal;
    }

    .tw-body-xs-medium {
        @apply tw-font-main tw-font-size-100 tw-line-height-300 tw-font-medium;
    }

    /* Label Styles */
    .tw-label-sm-regular {
        @apply tw-font-main tw-font-size-200 tw-line-height-200 tw-font-normal tw-letter-spacing-wide tw-uppercase;
    }

    .tw-label-sm-medium {
        @apply tw-font-main tw-font-size-200 tw-line-height-200 tw-font-medium tw-letter-spacing-wide tw-uppercase;
    }

    .tw-label-xs-regular {
        @apply tw-font-main tw-font-size-100 tw-line-height-100 tw-font-normal tw-letter-spacing-wide tw-uppercase;
    }

    .tw-label-xs-medium {
        @apply tw-font-main tw-font-size-100 tw-line-height-100 tw-font-medium tw-letter-spacing-wide tw-uppercase;
    }
}

@layer utilities {
    /* Font Size Utilities */
    .tw-font-size-100 {
        font-size: theme("fontSize.100");
    }
    .tw-font-size-200 {
        font-size: theme("fontSize.200");
    }
    .tw-font-size-300 {
        font-size: theme("fontSize.300");
    }
    .tw-font-size-400 {
        font-size: theme("fontSize.400");
    }
    .tw-font-size-500 {
        font-size: theme("fontSize.500");
    }
    .tw-font-size-600 {
        font-size: theme("fontSize.600");
    }
    .tw-font-size-700 {
        font-size: theme("fontSize.700");
    }
    .tw-font-size-800 {
        font-size: theme("fontSize.800");
    }
    .tw-font-size-900 {
        font-size: theme("fontSize.900");
    }
    .tw-font-size-1000 {
        font-size: theme("fontSize.1000");
    }

    /* Line Height Utilities */
    .tw-line-height-100 {
        line-height: theme("lineHeight.100");
    }
    .tw-line-height-200 {
        line-height: theme("lineHeight.200");
    }
    .tw-line-height-300 {
        line-height: theme("lineHeight.300");
    }
    .tw-line-height-400 {
        line-height: theme("lineHeight.400");
    }
    .tw-line-height-500 {
        line-height: theme("lineHeight.500");
    }
    .tw-line-height-600 {
        line-height: theme("lineHeight.600");
    }
    .tw-line-height-700 {
        line-height: theme("lineHeight.700");
    }
    .tw-line-height-800 {
        line-height: theme("lineHeight.800");
    }
    .tw-line-height-900 {
        line-height: theme("lineHeight.900");
    }
    .tw-line-height-1000 {
        line-height: theme("lineHeight.1000");
    }

    /* Letter Spacing Utilities */
    .tw-letter-spacing-densest {
        letter-spacing: theme("letterSpacing.densest");
    }
    .tw-letter-spacing-denser {
        letter-spacing: theme("letterSpacing.denser");
    }
    .tw-letter-spacing-dense {
        letter-spacing: theme("letterSpacing.dense");
    }
    .tw-letter-spacing-normal {
        letter-spacing: theme("letterSpacing.normal");
    }
    .tw-letter-spacing-wide {
        letter-spacing: theme("letterSpacing.wide");
    }
    .tw-letter-spacing-wider {
        letter-spacing: theme("letterSpacing.wider");
    }
    .tw-letter-spacing-widest {
        letter-spacing: theme("letterSpacing.widest");
    }

    /* Color Utilities */
    /* White */
    .tw-bg-white-50 {
        background-color: theme("colors.white.50");
    }
    .tw-bg-white-100 {
        background-color: theme("colors.white.100");
    }
    .tw-bg-white-200 {
        background-color: theme("colors.white.200");
    }
    .tw-bg-white-300 {
        background-color: theme("colors.white.300");
    }
    .tw-bg-white-400 {
        background-color: theme("colors.white.400");
    }
    .tw-bg-white-500 {
        background-color: theme("colors.white.500");
    }
    .tw-bg-white-600 {
        background-color: theme("colors.white.600");
    }
    .tw-bg-white-700 {
        background-color: theme("colors.white.700");
    }
    .tw-bg-white-800 {
        background-color: theme("colors.white.800");
    }
    .tw-bg-white-900 {
        background-color: theme("colors.white.900");
    }
    .tw-bg-white-950 {
        background-color: theme("colors.white.950");
    }

    .tw-text-white-50 {
        color: theme("colors.white.50");
    }
    .tw-text-white-100 {
        color: theme("colors.white.100");
    }
    .tw-text-white-200 {
        color: theme("colors.white.200");
    }
    .tw-text-white-300 {
        color: theme("colors.white.300");
    }
    .tw-text-white-400 {
        color: theme("colors.white.400");
    }
    .tw-text-white-500 {
        color: theme("colors.white.500");
    }
    .tw-text-white-600 {
        color: theme("colors.white.600");
    }
    .tw-text-white-700 {
        color: theme("colors.white.700");
    }
    .tw-text-white-800 {
        color: theme("colors.white.800");
    }
    .tw-text-white-900 {
        color: theme("colors.white.900");
    }
    .tw-text-white-950 {
        color: theme("colors.white.950");
    }

    /* Mushroom */
    .tw-bg-mushroom-50 {
        background-color: theme("colors.mushroom.50");
    }
    .tw-bg-mushroom-100 {
        background-color: theme("colors.mushroom.100");
    }
    .tw-bg-mushroom-200 {
        background-color: theme("colors.mushroom.200");
    }
    .tw-bg-mushroom-300 {
        background-color: theme("colors.mushroom.300");
    }
    .tw-bg-mushroom-400 {
        background-color: theme("colors.mushroom.400");
    }
    .tw-bg-mushroom-500 {
        background-color: theme("colors.mushroom.500");
    }
    .tw-bg-mushroom-600 {
        background-color: theme("colors.mushroom.600");
    }
    .tw-bg-mushroom-700 {
        background-color: theme("colors.mushroom.700");
    }
    .tw-bg-mushroom-800 {
        background-color: theme("colors.mushroom.800");
    }
    .tw-bg-mushroom-900 {
        background-color: theme("colors.mushroom.900");
    }
    .tw-bg-mushroom-950 {
        background-color: theme("colors.mushroom.950");
    }

    .tw-text-mushroom-50 {
        color: theme("colors.mushroom.50");
    }
    .tw-text-mushroom-100 {
        color: theme("colors.mushroom.100");
    }
    .tw-text-mushroom-200 {
        color: theme("colors.mushroom.200");
    }
    .tw-text-mushroom-300 {
        color: theme("colors.mushroom.300");
    }
    .tw-text-mushroom-400 {
        color: theme("colors.mushroom.400");
    }
    .tw-text-mushroom-500 {
        color: theme("colors.mushroom.500");
    }
    .tw-text-mushroom-600 {
        color: theme("colors.mushroom.600");
    }
    .tw-text-mushroom-700 {
        color: theme("colors.mushroom.700");
    }
    .tw-text-mushroom-800 {
        color: theme("colors.mushroom.800");
    }
    .tw-text-mushroom-900 {
        color: theme("colors.mushroom.900");
    }
    .tw-text-mushroom-950 {
        color: theme("colors.mushroom.950");
    }

    /* Tomato */
    .tw-bg-tomato-50 {
        background-color: theme("colors.tomato.50");
    }
    .tw-bg-tomato-100 {
        background-color: theme("colors.tomato.100");
    }
    .tw-bg-tomato-200 {
        background-color: theme("colors.tomato.200");
    }
    .tw-bg-tomato-300 {
        background-color: theme("colors.tomato.300");
    }
    .tw-bg-tomato-400 {
        background-color: theme("colors.tomato.400");
    }
    .tw-bg-tomato-500 {
        background-color: theme("colors.tomato.500");
    }
    .tw-bg-tomato-600 {
        background-color: theme("colors.tomato.600");
    }
    .tw-bg-tomato-700 {
        background-color: theme("colors.tomato.700");
    }
    .tw-bg-tomato-800 {
        background-color: theme("colors.tomato.800");
    }
    .tw-bg-tomato-900 {
        background-color: theme("colors.tomato.900");
    }
    .tw-bg-tomato-950 {
        background-color: theme("colors.tomato.950");
    }

    .tw-text-tomato-50 {
        color: theme("colors.tomato.50");
    }
    .tw-text-tomato-100 {
        color: theme("colors.tomato.100");
    }
    .tw-text-tomato-200 {
        color: theme("colors.tomato.200");
    }
    .tw-text-tomato-300 {
        color: theme("colors.tomato.300");
    }
    .tw-text-tomato-400 {
        color: theme("colors.tomato.400");
    }
    .tw-text-tomato-500 {
        color: theme("colors.tomato.500");
    }
    .tw-text-tomato-600 {
        color: theme("colors.tomato.600");
    }
    .tw-text-tomato-700 {
        color: theme("colors.tomato.700");
    }
    .tw-text-tomato-800 {
        color: theme("colors.tomato.800");
    }
    .tw-text-tomato-900 {
        color: theme("colors.tomato.900");
    }
    .tw-text-tomato-950 {
        color: theme("colors.tomato.950");
    }

    /* Carrot */
    .tw-bg-carrot-50 {
        background-color: theme("colors.carrot.50");
    }
    .tw-bg-carrot-100 {
        background-color: theme("colors.carrot.100");
    }
    .tw-bg-carrot-200 {
        background-color: theme("colors.carrot.200");
    }
    .tw-bg-carrot-300 {
        background-color: theme("colors.carrot.300");
    }
    .tw-bg-carrot-400 {
        background-color: theme("colors.carrot.400");
    }
    .tw-bg-carrot-500 {
        background-color: theme("colors.carrot.500");
    }
    .tw-bg-carrot-600 {
        background-color: theme("colors.carrot.600");
    }
    .tw-bg-carrot-700 {
        background-color: theme("colors.carrot.700");
    }
    .tw-bg-carrot-800 {
        background-color: theme("colors.carrot.800");
    }
    .tw-bg-carrot-900 {
        background-color: theme("colors.carrot.900");
    }
    .tw-bg-carrot-950 {
        background-color: theme("colors.carrot.950");
    }

    .tw-text-carrot-50 {
        color: theme("colors.carrot.50");
    }
    .tw-text-carrot-100 {
        color: theme("colors.carrot.100");
    }
    .tw-text-carrot-200 {
        color: theme("colors.carrot.200");
    }
    .tw-text-carrot-300 {
        color: theme("colors.carrot.300");
    }
    .tw-text-carrot-400 {
        color: theme("colors.carrot.400");
    }
    .tw-text-carrot-500 {
        color: theme("colors.carrot.500");
    }
    .tw-text-carrot-600 {
        color: theme("colors.carrot.600");
    }
    .tw-text-carrot-700 {
        color: theme("colors.carrot.700");
    }
    .tw-text-carrot-800 {
        color: theme("colors.carrot.800");
    }
    .tw-text-carrot-900 {
        color: theme("colors.carrot.900");
    }
    .tw-text-carrot-950 {
        color: theme("colors.carrot.950");
    }

    /* Mango */
    .tw-bg-mango-50 {
        background-color: theme("colors.mango.50");
    }
    .tw-bg-mango-100 {
        background-color: theme("colors.mango.100");
    }
    .tw-bg-mango-200 {
        background-color: theme("colors.mango.200");
    }
    .tw-bg-mango-300 {
        background-color: theme("colors.mango.300");
    }
    .tw-bg-mango-400 {
        background-color: theme("colors.mango.400");
    }
    .tw-bg-mango-500 {
        background-color: theme("colors.mango.500");
    }
    .tw-bg-mango-600 {
        background-color: theme("colors.mango.600");
    }
    .tw-bg-mango-700 {
        background-color: theme("colors.mango.700");
    }
    .tw-bg-mango-800 {
        background-color: theme("colors.mango.800");
    }
    .tw-bg-mango-900 {
        background-color: theme("colors.mango.900");
    }
    .tw-bg-mango-950 {
        background-color: theme("colors.mango.950");
    }

    .tw-text-mango-50 {
        color: theme("colors.mango.50");
    }
    .tw-text-mango-100 {
        color: theme("colors.mango.100");
    }
    .tw-text-mango-200 {
        color: theme("colors.mango.200");
    }
    .tw-text-mango-300 {
        color: theme("colors.mango.300");
    }
    .tw-text-mango-400 {
        color: theme("colors.mango.400");
    }
    .tw-text-mango-500 {
        color: theme("colors.mango.500");
    }
    .tw-text-mango-600 {
        color: theme("colors.mango.600");
    }
    .tw-text-mango-700 {
        color: theme("colors.mango.700");
    }
    .tw-text-mango-800 {
        color: theme("colors.mango.800");
    }
    .tw-text-mango-900 {
        color: theme("colors.mango.900");
    }
    .tw-text-mango-950 {
        color: theme("colors.mango.950");
    }

    /* Kangkong */
    .tw-bg-kangkong-50 {
        background-color: theme("colors.kangkong.50");
    }
    .tw-bg-kangkong-100 {
        background-color: theme("colors.kangkong.100");
    }
    .tw-bg-kangkong-200 {
        background-color: theme("colors.kangkong.200");
    }
    .tw-bg-kangkong-300 {
        background-color: theme("colors.kangkong.300");
    }
    .tw-bg-kangkong-400 {
        background-color: theme("colors.kangkong.400");
    }
    .tw-bg-kangkong-500 {
        background-color: theme("colors.kangkong.500");
    }
    .tw-bg-kangkong-600 {
        background-color: theme("colors.kangkong.600");
    }
    .tw-bg-kangkong-700 {
        background-color: theme("colors.kangkong.700");
    }
    .tw-bg-kangkong-800 {
        background-color: theme("colors.kangkong.800");
    }
    .tw-bg-kangkong-900 {
        background-color: theme("colors.kangkong.900");
    }
    .tw-bg-kangkong-950 {
        background-color: theme("colors.kangkong.950");
    }

    .tw-text-kangkong-50 {
        color: theme("colors.kangkong.50");
    }
    .tw-text-kangkong-100 {
        color: theme("colors.kangkong.100");
    }
    .tw-text-kangkong-200 {
        color: theme("colors.kangkong.200");
    }
    .tw-text-kangkong-300 {
        color: theme("colors.kangkong.300");
    }
    .tw-text-kangkong-400 {
        color: theme("colors.kangkong.400");
    }
    .tw-text-kangkong-500 {
        color: theme("colors.kangkong.500");
    }
    .tw-text-kangkong-600 {
        color: theme("colors.kangkong.600");
    }
    .tw-text-kangkong-700 {
        color: theme("colors.kangkong.700");
    }
    .tw-text-kangkong-800 {
        color: theme("colors.kangkong.800");
    }
    .tw-text-kangkong-900 {
        color: theme("colors.kangkong.900");
    }
    .tw-text-kangkong-950 {
        color: theme("colors.kangkong.950");
    }

    /* Wintermelon */
    .tw-bg-wintermelon-50 {
        background-color: theme("colors.wintermelon.50");
    }
    .tw-bg-wintermelon-100 {
        background-color: theme("colors.wintermelon.100");
    }
    .tw-bg-wintermelon-200 {
        background-color: theme("colors.wintermelon.200");
    }
    .tw-bg-wintermelon-300 {
        background-color: theme("colors.wintermelon.300");
    }
    .tw-bg-wintermelon-400 {
        background-color: theme("colors.wintermelon.400");
    }
    .tw-bg-wintermelon-500 {
        background-color: theme("colors.wintermelon.500");
    }
    .tw-bg-wintermelon-600 {
        background-color: theme("colors.wintermelon.600");
    }
    .tw-bg-wintermelon-700 {
        background-color: theme("colors.wintermelon.700");
    }
    .tw-bg-wintermelon-800 {
        background-color: theme("colors.wintermelon.800");
    }
    .tw-bg-wintermelon-900 {
        background-color: theme("colors.wintermelon.900");
    }
    .tw-bg-wintermelon-950 {
        background-color: theme("colors.wintermelon.950");
    }

    .tw-text-wintermelon-50 {
        color: theme("colors.wintermelon.50");
    }
    .tw-text-wintermelon-100 {
        color: theme("colors.wintermelon.100");
    }
    .tw-text-wintermelon-200 {
        color: theme("colors.wintermelon.200");
    }
    .tw-text-wintermelon-300 {
        color: theme("colors.wintermelon.300");
    }
    .tw-text-wintermelon-400 {
        color: theme("colors.wintermelon.400");
    }
    .tw-text-wintermelon-500 {
        color: theme("colors.wintermelon.500");
    }
    .tw-text-wintermelon-600 {
        color: theme("colors.wintermelon.600");
    }
    .tw-text-wintermelon-700 {
        color: theme("colors.wintermelon.700");
    }
    .tw-text-wintermelon-800 {
        color: theme("colors.wintermelon.800");
    }
    .tw-text-wintermelon-900 {
        color: theme("colors.wintermelon.900");
    }
    .tw-text-wintermelon-950 {
        color: theme("colors.wintermelon.950");
    }

    /* Blueberry */
    .tw-bg-blueberry-50 {
        background-color: theme("colors.blueberry.50");
    }
    .tw-bg-blueberry-100 {
        background-color: theme("colors.blueberry.100");
    }
    .tw-bg-blueberry-200 {
        background-color: theme("colors.blueberry.200");
    }
    .tw-bg-blueberry-300 {
        background-color: theme("colors.blueberry.300");
    }
    .tw-bg-blueberry-400 {
        background-color: theme("colors.blueberry.400");
    }
    .tw-bg-blueberry-500 {
        background-color: theme("colors.blueberry.500");
    }
    .tw-bg-blueberry-600 {
        background-color: theme("colors.blueberry.600");
    }
    .tw-bg-blueberry-700 {
        background-color: theme("colors.blueberry.700");
    }
    .tw-bg-blueberry-800 {
        background-color: theme("colors.blueberry.800");
    }
    .tw-bg-blueberry-900 {
        background-color: theme("colors.blueberry.900");
    }
    .tw-bg-blueberry-950 {
        background-color: theme("colors.blueberry.950");
    }

    .tw-text-blueberry-50 {
        color: theme("colors.blueberry.50");
    }
    .tw-text-blueberry-100 {
        color: theme("colors.blueberry.100");
    }
    .tw-text-blueberry-200 {
        color: theme("colors.blueberry.200");
    }
    .tw-text-blueberry-300 {
        color: theme("colors.blueberry.300");
    }
    .tw-text-blueberry-400 {
        color: theme("colors.blueberry.400");
    }
    .tw-text-blueberry-500 {
        color: theme("colors.blueberry.500");
    }
    .tw-text-blueberry-600 {
        color: theme("colors.blueberry.600");
    }
    .tw-text-blueberry-700 {
        color: theme("colors.blueberry.700");
    }
    .tw-text-blueberry-800 {
        color: theme("colors.blueberry.800");
    }
    .tw-text-blueberry-900 {
        color: theme("colors.blueberry.900");
    }
    .tw-text-blueberry-950 {
        color: theme("colors.blueberry.950");
    }

    /* Ubas */
    .tw-bg-ubas-50 {
        background-color: theme("colors.ubas.50");
    }
    .tw-bg-ubas-100 {
        background-color: theme("colors.ubas.100");
    }
    .tw-bg-ubas-200 {
        background-color: theme("colors.ubas.200");
    }
    .tw-bg-ubas-300 {
        background-color: theme("colors.ubas.300");
    }
    .tw-bg-ubas-400 {
        background-color: theme("colors.ubas.400");
    }
    .tw-bg-ubas-500 {
        background-color: theme("colors.ubas.500");
    }
    .tw-bg-ubas-600 {
        background-color: theme("colors.ubas.600");
    }
    .tw-bg-ubas-700 {
        background-color: theme("colors.ubas.700");
    }
    .tw-bg-ubas-800 {
        background-color: theme("colors.ubas.800");
    }
    .tw-bg-ubas-900 {
        background-color: theme("colors.ubas.900");
    }
    .tw-bg-ubas-950 {
        background-color: theme("colors.ubas.950");
    }

    .tw-text-ubas-50 {
        color: theme("colors.ubas.50");
    }
    .tw-text-ubas-100 {
        color: theme("colors.ubas.100");
    }
    .tw-text-ubas-200 {
        color: theme("colors.ubas.200");
    }
    .tw-text-ubas-300 {
        color: theme("colors.ubas.300");
    }
    .tw-text-ubas-400 {
        color: theme("colors.ubas.400");
    }
    .tw-text-ubas-500 {
        color: theme("colors.ubas.500");
    }
    .tw-text-ubas-600 {
        color: theme("colors.ubas.600");
    }
    .tw-text-ubas-700 {
        color: theme("colors.ubas.700");
    }
    .tw-text-ubas-800 {
        color: theme("colors.ubas.800");
    }
    .tw-text-ubas-900 {
        color: theme("colors.ubas.900");
    }
    .tw-text-ubas-950 {
        color: theme("colors.ubas.950");
    }

    /* Semantic Text Colors */

    /* Default Text Colors */
    .tw-text-color-strong {
        color: theme("colors.text.strong");
    }
    .tw-text-color-supporting {
        color: theme("colors.text.supporting");
    }
    .tw-text-color-base {
        color: theme("colors.text.base");
    }
    .tw-text-color-weak {
        color: theme("colors.text.weak");
    }
    .tw-text-color-disabled {
        color: theme("colors.text.disabled");
    }
    .tw-text-color-on-fill-disabled {
        color: theme("colors.text.on-fill-disabled");
    }

    /* Inverted Text Colors */
    .tw-text-color-inverted-strong {
        color: theme("colors.text.inverted.strong");
    }
    .tw-text-color-inverted-base {
        color: theme("colors.text.inverted.base");
    }
    .tw-text-color-inverted-weak {
        color: theme("colors.text.inverted.weak");
    }
    .tw-text-color-inverted-disabled {
        color: theme("colors.text.inverted.disabled");
    }

    /* Brand Colors */
    .tw-text-color-brand {
        color: theme("colors.text.brand.base");
    }
    .tw-text-color-brand-hover {
        color: theme("colors.text.brand.hover");
    }
    .tw-text-color-brand-pressed {
        color: theme("colors.text.brand.pressed");
    }

    /* Success Colors */
    .tw-text-color-success {
        color: theme("colors.text.success.base");
    }
    .tw-text-color-success-hover {
        color: theme("colors.text.success.hover");
    }
    .tw-text-color-success-pressed {
        color: theme("colors.text.success.pressed");
    }

    /* Information Colors */
    .tw-text-color-information {
        color: theme("colors.text.information.base");
    }
    .tw-text-color-information-hover {
        color: theme("colors.text.information.hover");
    }
    .tw-text-color-information-pressed {
        color: theme("colors.text.information.pressed");
    }

    /* Danger Colors */
    .tw-text-color-danger {
        color: theme("colors.text.danger.base");
    }
    .tw-text-color-danger-hover {
        color: theme("colors.text.danger.hover");
    }
    .tw-text-color-danger-pressed {
        color: theme("colors.text.danger.pressed");
    }

    /* Pending Colors */
    .tw-text-color-pending {
        color: theme("colors.text.pending.base");
    }
    .tw-text-color-pending-hover {
        color: theme("colors.text.pending.hover");
    }
    .tw-text-color-pending-pressed {
        color: theme("colors.text.pending.pressed");
    }

    /* Caution Colors */
    .tw-text-color-caution {
        color: theme("colors.text.caution.base");
    }
    .tw-text-color-caution-hover {
        color: theme("colors.text.caution.hover");
    }
    .tw-text-color-caution-pressed {
        color: theme("colors.text.caution.pressed");
    }

    /* Accent Colors */
    .tw-text-color-accent {
        color: theme("colors.text.accent.base");
    }
    .tw-text-color-accent-hover {
        color: theme("colors.text.accent.hover");
    }
    .tw-text-color-accent-pressed {
        color: theme("colors.text.accent.pressed");
    }

    /* Base Background Colors */
    .tw-background-color {
        background-color: theme("colors.background.base");
    }
    .tw-background-color-surface {
        background-color: theme("colors.background.surface");
    }
    .tw-background-color-inverted {
        background-color: theme("colors.background.inverted");
    }
    .tw-background-color-inverted-hover {
        background-color: theme("colors.background.inverted-hover");
    }
    .tw-background-color-inverted-pressed {
        background-color: theme("colors.background.inverted-pressed");
    }
    .tw-background-color-hover {
        background-color: theme("colors.background.hover");
    }
    .tw-background-color-pressed {
        background-color: theme("colors.background.pressed");
    }
    .tw-background-color-disabled {
        background-color: theme("colors.background.disabled");
    }
    .tw-background-color-single-active {
        background-color: theme("colors.background.single-active");
    }
    .tw-background-color-multiple-active {
        background-color: theme("colors.background.multiple-active");
    }

    /* Brand Background Colors */
    .tw-background-color-brand {
        background-color: theme("colors.background.brand.base");
    }
    .tw-background-color-brand-hover {
        background-color: theme("colors.background.brand.hover");
    }
    .tw-background-color-brand-pressed {
        background-color: theme("colors.background.brand.pressed");
    }
    .tw-background-color-brand-weak {
        background-color: theme("colors.background.brand.weak");
    }

    /* Success Background Colors */
    .tw-background-color-success {
        background-color: theme("colors.background.success.base");
    }
    .tw-background-color-success-hover {
        background-color: theme("colors.background.success.hover");
    }
    .tw-background-color-success-pressed {
        background-color: theme("colors.background.success.pressed");
    }
    .tw-background-color-success-weak {
        background-color: theme("colors.background.success.weak");
    }

    /* Information Background Colors */
    .tw-background-color-information {
        background-color: theme("colors.background.information.base");
    }
    .tw-background-color-information-hover {
        background-color: theme("colors.background.information.hover");
    }
    .tw-background-color-information-pressed {
        background-color: theme("colors.background.information.pressed");
    }
    .tw-background-color-information-weak {
        background-color: theme("colors.background.information.weak");
    }

    /* Danger Background Colors */
    .tw-background-color-danger {
        background-color: theme("colors.background.danger.base");
    }
    .tw-background-color-danger-hover {
        background-color: theme("colors.background.danger.hover");
    }
    .tw-background-color-danger-pressed {
        background-color: theme("colors.background.danger.pressed");
    }
    .tw-background-color-danger-weak {
        background-color: theme("colors.background.danger.weak");
    }

    /* Pending Background Colors */
    .tw-background-color-pending {
        background-color: theme("colors.background.pending.base");
    }
    .tw-background-color-pending-hover {
        background-color: theme("colors.background.pending.hover");
    }
    .tw-background-color-pending-pressed {
        background-color: theme("colors.background.pending.pressed");
    }
    .tw-background-color-pending-weak {
        background-color: theme("colors.background.pending.weak");
    }

    /* Caution Background Colors */
    .tw-background-color-caution {
        background-color: theme("colors.background.caution.base");
    }
    .tw-background-color-caution-hover {
        background-color: theme("colors.background.caution.hover");
    }
    .tw-background-color-caution-pressed {
        background-color: theme("colors.background.caution.pressed");
    }
    .tw-background-color-caution-weak {
        background-color: theme("colors.background.caution.weak");
    }

    /* Accent Background Colors */
    .tw-background-color-accent {
        background-color: theme("colors.background.accent.base");
    }
    .tw-background-color-accent-hover {
        background-color: theme("colors.background.accent.hover");
    }
    .tw-background-color-accent-pressed {
        background-color: theme("colors.background.accent.pressed");
    }
    .tw-background-color-accent-weak {
        background-color: theme("colors.background.accent.weak");
    }

    /* Border Colors */
    .tw-border-color-strong {
        border-color: theme("colors.border.strong");
    }
    .tw-border-color-supporting {
        border-color: theme("colors.border.supporting");
    }
    .tw-border-color-base {
        border-color: theme("colors.border.base");
    }
    .tw-border-color-hover {
        border-color: theme("colors.border.hover");
    }
    .tw-border-color-pressed {
        border-color: theme("colors.border.pressed");
    }
    .tw-border-color-weak {
        border-color: theme("colors.border.weak");
    }
    .tw-border-color-disabled {
        border-color: theme("colors.border.disabled");
    }
    .tw-border-color-on-fill-disabled {
        border-color: theme("colors.border.on-fill-disabled");
    }

    /* Brand Border Colors */
    .tw-border-color-brand {
        border-color: theme("colors.border.brand.base");
    }
    .tw-border-color-brand-hover {
        border-color: theme("colors.border.brand.hover");
    }
    .tw-border-color-brand-pressed {
        border-color: theme("colors.border.brand.pressed");
    }

    /* Success Border Colors */
    .tw-border-color-success {
        border-color: theme("colors.border.success.base");
    }
    .tw-border-color-success-hover {
        border-color: theme("colors.border.success.hover");
    }
    .tw-border-color-success-pressed {
        border-color: theme("colors.border.success.pressed");
    }

    /* Information Border Colors */
    .tw-border-color-information {
        border-color: theme("colors.border.information.base");
    }
    .tw-border-color-information-hover {
        border-color: theme("colors.border.information.hover");
    }
    .tw-border-color-information-pressed {
        border-color: theme("colors.border.information.pressed");
    }

    /* Danger Border Colors */
    .tw-border-color-danger {
        border-color: theme("colors.border.danger.base");
    }
    .tw-border-color-danger-hover {
        border-color: theme("colors.border.danger.hover");
    }
    .tw-border-color-danger-pressed {
        border-color: theme("colors.border.danger.pressed");
    }

    /* Pending Border Colors */
    .tw-border-color-pending {
        border-color: theme("colors.border.pending.base");
    }
    .tw-border-color-pending-hover {
        border-color: theme("colors.border.pending.hover");
    }
    .tw-border-color-pending-pressed {
        border-color: theme("colors.border.pending.pressed");
    }

    /* Caution Border Colors */
    .tw-border-color-caution {
        border-color: theme("colors.border.caution.base");
    }
    .tw-border-color-caution-hover {
        border-color: theme("colors.border.caution.hover");
    }
    .tw-border-color-caution-pressed {
        border-color: theme("colors.border.caution.pressed");
    }

    /* Accent Border Colors */
    .tw-border-color-accent {
        border-color: theme("colors.border.accent.base");
    }
    .tw-border-color-accent-hover {
        border-color: theme("colors.border.accent.hover");
    }
    .tw-border-color-accent-pressed {
        border-color: theme("colors.border.accent.pressed");
    }
}

@tailwind utilities;
